/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

a {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
    background-color: #0078d4;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
}

a:hover {
    background-color: #005a9e;
    transform: scale(1.05);
}

/* Estilo para mejorar la alineación de los enlaces */
.br {
    margin-bottom: 20px;
}
