/* styles.css */
/* Estilos generales */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

/* Estilos para la cabecera */

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    border-bottom: 1px solid #fff;
}

/* Estilos para la sección principal */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

/* Estilos para las secciones */

section {
    background-color: #333;
    padding: 1em;
    margin-bottom: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #fff;
}

/* Estilos para los títulos */

h1, h2, h3 {
    color: #fff;
    margin-bottom: 0.5em;
}

/* Estilos para los párrafos */

p {
    margin-bottom: 1em;
    color: #fff;
}

/* Estilos para la sección de Gojo y Sukuna */

#gojo-sukuna {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#gojo, #sukuna {
    flex-basis: 40%;
    margin: 1em;
    padding: 1em;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #333;
}

#gojo img, #sukuna img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

/* Estilos para el video */

#video {
    background-color: #333;
    padding: 1em;
    margin-bottom: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #fff;
}

iframe {
    width: 100%;
    height: 315px;
    border: none;
}

/* Estilos para las imágenes */

.image-container {
    text-align: center;
    margin-top: 20px;
}

.introduction-image {
    max-width: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}